#scrabble .board-border {
  position: relative;
  background: #cfdedb;
  margin: 2em;
  padding: 8px;
  box-sizing: content-box;
}
#scrabble .board {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  user-select: none;
}
#scrabble .board-square {
  position: relative;
  width: auto;
  height: auto;
  background: #fff;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
}
#scrabble .board-square.dragged-over {
  background: #ebebeb;
}
#render-target,
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/95/Lake_Kawaguchiko_Sakura_Mount_Fuji_3.JPG);
  background-size: cover;
  overflow-x: hidden;
}
